@import './src/assets/styles/variables';

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
}

.input {
  font-weight: 300;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid $color-dark-100;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: border-color 0.3s ease;

  &:hover {
    border: 1px solid $color-secondary-600;
  }

  &:focus {
    border: 1px solid $color-secondary-300;
  }
}
