@import './src/assets/styles/variables';

.banner {
  position: relative;
  padding: 30px;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
}

.bannerImg {
  position: absolute;
  height: 200px;
  width: 160px;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5px center;
  border-bottom-right-radius: 20px;
}

.bannerText {
  display: flex;
  width: 80%;
  flex-direction: column;
  color: $color-white;
  font-weight: 700;
  font-size: 24px;
}

.bannerButton {
  margin-top: 20px;
}
