@import './src/assets/styles/variables';

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: $sidebar__width;
  padding: 30px 50px 30px 30px;
  z-index: 1;
  background-color: $sidebar__background-color;
}

.logout {
  margin-top: auto;
  padding-right: 30px;
}
