@import '~@/assets/styles/variables.scss';

.menu {
  margin-top: 150px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 35px;

  svg {
    width: 18px;
    height: 20px;
    margin-right: 20px;
  }
}

.link {
  font-weight: 500;
  color: $link__color;
  font-size: 16px;
  transition: 0.2s color;

  &:hover {
    color: $link-hover__color;
    text-decoration: none;
  }
}

.activeLink {
  color: $color-orange;

  &:hover {
    color: $color-orange;
    text-decoration: none;
  }
}
