$color-white: #ffffff;
$color-blue: #98c1d9;
$color-dark-blue: #3d5a80;
$color-light-blue: #e0fbfc;
$color-orange: #ee6c4d;
$color-asphalt: #293241;

$sidebar-width: 280px;

$link__color: $color-dark-blue;
$link-hover__color: #688ab6;

$button-default__background-color: #3d5a80;
$button-default-hover__background-color: #5075a5;
$button-default-active__background-color: #354e6e;
