@import "./src/assets/styles/variables";

.gallery {
  display: flex;
  align-items: stretch;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.galleryMore {
  border-right: 1px solid #dbe2f3;
  border-bottom: 1px solid #dbe2f3;
  width: 50%;
  height: 50%;
  border-bottom-right-radius: 20px;
}

.galleryMainImage {
  overflow: hidden;
  height: 300px;
  border-radius: 20px;
}

.galleryItems {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.galleryItem {
  width: 50%;
  height: 50%;
  overflow: hidden;
}

.info {
  border-bottom: 1px solid #dbe2f3;
  padding: 20px 0;
}

.features {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
